<div class="formularioRegistro">

  <h3>registro</h3>
  <form  [formGroup]="registroForm" class="row" >
    <div class="col-md-6 ml-5">
      <div class="form-group">
          <label>Tipo de documento</label>
          <select name="tipoDocumento" id="tipoDocumento" formControlName="tipoDocumento" class="form-control" >
          <option [ngValue]="item" *ngFor="let item of tipoDocumento">{{ item.documento }}</option></select>
      </div>
      <div class="form-group">
          <label>Número de documento</label>
          <input type="number" formControlName="nDocumento" class="form-control">
      </div>
      <div class="form-group">
          <label>Nombres</label>
          <input type="text" formControlName="nombres" class="form-control">
      </div>
      <div class="form-group">
          <label>Apellidos</label>
          <input type="text" formControlName="apellidos" class="form-control">
      </div>
      <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="correo" class="form-control">
      </div>
      <div>
        La Contraseña debe contener un carácter especial
      </div>
      <div class="form-group">
          <label>Contraseña</label>
          <input type="password" formControlName="contrasena"class="form-control">
      </div>
      <div>
          <a routerLink="/login" >Regresar</a>
      </div>
      <div>

           <button type="submit" class="btn btn-dark" (click)="guardar()" [disabled]="registroForm.invalid" >Registrar</button> -->
      </div>
    </div>

  </form>


</div>
