<div class="card-group">

<div class="card" >
  <img class="card-img-top" src="assets/{{producto?.imagen}}"><hr>
  <small>{{producto?.descripcion}}</small><br>
  <small>{{producto?.color?.color}}</small><br>
  <small> {{producto?.valor | currency}}</small><br>
  <small>{{producto?.marca?.marca}}</small>
  <tr></tr>
  <!-- <select name="talla" id="talla"  class="form-control" >
  <option [ngValue]="item" *ngFor="let item of producto.tallas">{{ item.talla }}</option></select> -->

    <!-- <button (click)="verProducto()" >Ir al producto</button> -->

    <!-- <button [routerLink]="['/verProducto',producto.idProducto]"  >Ir al producto</button> -->

    <a [routerLink]="['/productos',producto.idProducto]">seleccionar producto</a>
</div>
</div>
<!-- <a [routerLink]="['/verProducto',item.id]">seleccionar producto</a> -->







