<div class="dj-banner" id="logo">
  <img src="../../../../assets/logo_copia-removebg-preview.jpg" alt="" height="800px">
</div>

      <!--jumbotron-->
      <div class="p-5 text-center bg-image rounded-3"  id="jumbotron">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h4>Somos una empresa dedicada a la comercialización de productos fabricados con mucho amor, porque nuestra mayor pasión es distribuir Ropa Única para Personas Únicas.
              </h4>
              <h4>Regístrate y conoce el mundo maravilloso que tenemos para ti.</h4>
            </div>
          </div>
        </div>
      </div>




<div class="formularioLogin">


  <form [formGroup]="loginForm">

    <div class="form-group">
      <label >Usuario</label><br>
      <input type="email" formControlName="correo" class="form-control">
    </div>
    <div class="form-group">

      <label>Contraseña</label><br>
      <input type="password" formControlName="contrasena" class="form-control">
    </div>
    <div>
      <app-modal #contenido></app-modal>
      <!-- <a (click)="onRegistro(contenido)" style="cursor: pointer;">Registrarme</a> -->
    </div>


    <button type="submit" class="btn btn-dark" (click)="consultar()" [disabled]="loginForm.invalid"> Ingresar</button>

  </form>

</div>


